body{
    color: deepskyblue;
    margin: auto;
    height: 765px;
    width: 650px;
    border: 4px solid black;
}
div{
    display: inline-grid;
    text-align: center;
    border: 3px solid rgb(27, 21, 11);
    margin: auto;
    height: 700px;
    width: 650px;
    background-image: url(./agribuss2.jpg);
}
tr{
    border: 5px solid rgb(206, 247, 245);
    text-align: center;
    align-items: center;
}
td{
    border: 4px solid rgb(233, 240, 231);
}

h1{
    color: rgb(9, 105, 8);
}
h2{
    color: rgb(9, 105, 8);
}
p{
    border: 3px solid rgb(28, 180, 20);
    color: rgb(3, 37, 3);
    font-size: x-large solid rgba(202, 224, 203, 0.769);

}
h3{
    background-color: greenyellow;
    text-align: center;
    color: rgb(1, 7, 36);
}
table{
    border: 2px solid black;
}